.answers__text-wrap {
    display: flex;
    flex-direction: column;
    
    .answers__text {
        font-size: 18px;
        font-weight: 400;
        color: #666666;
        margin: 0px 0px 10px 0px;
        
    
        &:last-child {
            margin: 0px;
        }
    }

    .answers__list-internal {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding: 0px 0px 0px 20px;
       

       .answers__item-internal {
        font-size: 18px;
        font-weight: 400;
        color: #666666;
        margin: 0px 0px 10px 0px;
       
        
        &:last-child {
            margin: 0px;
        }
         span {
            font-weight: 700;
         }
       }
    }
}