.main {
    padding: 80px 0px 100px 0px;
    background-image: url('../assets/backmain.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;

      ::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 47, 61, 0.3);
        z-index: -1;
      }
      &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

      }

    &__title {
        max-width: 700px;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto 20px;
        color: #fff;
    }

    &__description {
        max-width: 850px;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        color: #fff;
        margin: 0 auto 45px;
    }

    .button-wrap {
        display: flex;
        margin: 0 auto 20px;
        max-width: 600px;
        justify-content: space-between;
        flex-wrap: wrap;

        .button {
          margin: 10px 10px;

        }
    }

    // Адаптивные стили
    @media (max-width: 768px) {
      padding: 60px 0px 80px 0px; 

      &__title {
          font-size: 48px; 
      }

      &__description {
          font-size: 20px; 
          margin: 0 auto 30px; 
      }

      .button-wrap {
          max-width: 100%; 
          justify-content: center; 
          .button{
            margin: 10px 10px;
          }
      }
  }

  @media (max-width: 480px) {
      padding: 40px 0px 60px 0px; 

      &__title {
          font-size: 36px;
      }

      &__description {
          font-size: 18px; 
          margin: 0 auto 20px;
      }

      .button-wrap {
          flex-direction: column; 
          align-items: center; 
          .button {
              margin: 10px 0; 
          }
      }
  }
}