.answers {
    padding: 50px 10px;
    background: linear-gradient(#28E47329 16%, #46CD1624 14%, #27DDD163, #05B0D552 );

    &__wrap {
        display: flex;
        justify-content: space-between;

        .wrap-left {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 800px;
            margin: 0px 60px 0px 0px;

            .answers__title {
                font-size: 36px;
                font-weight: 300;
                color: #00B7EC;
                margin: 0px 0px 20px 0px;
            }

            .answers__item {
                margin-bottom: 30px;
                color: #666666;
                font-size: 18px;
                font-weight: 400;

                .answers__question {
                    
                    max-width: 850px;
                    

                    &__active {
                       color: #00B7EC;
                       margin-bottom: 10px;
                      
                    }
                }
                

            }

        
        }
        .wrap-right {
            max-width: 380px;
            img {
                width: 100%;
            }
    }

}
}