.header {
    background-color: #00B7EC;
    padding: 10px 0;
    
     .header__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .header__logo {
        max-width: 74px;
       img{
        width: 100%;
         }
    }

    .nav-link {
        display: flex;
        flex-wrap: wrap;

    
        .nav-item {
            margin-left: 20px;
            list-style: none;
        
        
         a {
            color: white;
            font-size: 14px;
            font-weight: 600;
        
            &:hover {
                transition: 1s;
                border-bottom: 1px solid white;
            }
        }
     }
    }

    .header__button {
        margin-left: 20px;
        max-width: 350px;
    }
}
}


