.info {
    padding: 50px 0px 65px 0px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    .left-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 750px;

        .title {
            font-size: 36px;
            font-weight: 300;
            color: #00B7EC;
            margin: 0px 0px 20px 0px;
        }

          .description-info {
            margin: 0px 0px 20px 0px;

            p {
                font-size: 18px;
                font-weight: 400;
                color: #666666;
                margin: 0px 0px 10px 0px;

                &:last-child {
                    margin: 0px;
                }
            }
          }

          .info__wrap-button {
            display: flex;
            flex-wrap: wrap;
            
            .button {
                margin-right: 20px;

                &:last-child {
                    margin: 0px;
                }
            }

          }

    }
}
    }
