.live-feed {

    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #00B7EC;
        margin: 0px 0px 20px 0px;
    }

    &__wrap {

        .feed-card {
            display: flex;
            align-content: space-between;
            max-width: 273px;
            height: 412px;
            background: linear-gradient(#ffffffc5, #07aadb78);
            border-radius: 10px;
            margin-bottom: 20px;

            .card-img {
                width: 273px;
                height: 156px;
                margin: 0 auto 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-description {
                margin: 0px auto 30px;
                text-align: center;

                p {
                font-size: 18px;
                font-weight: 400;
                color: #666666;
                 }
            }

            button {
                display: block;
                margin: 0 auto;
                
            }
        }
    }
}

